<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pbplace</title>
     <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <style>
        body {
            font-family: monospace;
        }
    </style>
</head>
<body bgcolor="#CCCCCC">
    <h1>pbplace</h1>
</body>
</html>
